# It's Day 0 and I know nothing â€” where do I start?

## A pre-workshop "bootcamp" tutorial for the absolute basics of Python

Welcome. In this tutorial, we're going to work through the absolute basics of the Python programming language. We highly recommend reading Chapter 2 of the [textbook](https://prappleizer.github.io/index.html) either before, or concurrently, with working through this tutorial. It will cover much the same ground, but here you'll get to actively practice the techniques described. 

Let's start with the concept of a **declaration**. In Python, our primary goal is to perform calculations - you can think of it as an extremely powerful calculator, and indeed, much of what we build in python amounts to pipelines that string simple mathematical computations together and perform them on data. 

In order to work with more complex data than a pocket calculator (in which we type in the numbers to be computed directly), Python allows us to declare **variables** to store those values for later use. See below:

In [ ]:
variable_1 = 5

In [ ]:
variable_2 = 6

In [ ]:
output = variable_1 + variable_2

In [ ]:
print(output)

All we did was store the numbers 5 and 6 into variables (which we lazily and poorly named 'variable_1' and 'variable_2'), and then computed their sum. **Note:** One additional takeaway here is the underscore in the variable names - you cannot have spaces in variable names, so often programmers use underscores when needed. We'll talk later about best practices when naming variables. 

You might be asking, "Why did you go through the work of declaring those variables and adding them, when you could've just done:"

In [ ]:
5 + 6

In this particular case, you are absolutely right. If we wanted to know the sum of 5 and 6, we could've just typed it in. Indeed, even if we needed to save that output somewhere, we could've done

In [ ]:
output2 = 5 + 6

And now, we can look at the output at any time:

In [ ]:
print(output2)

Or, we can use it in further calculations:

In [ ]:
output3 = output2 * 5

In [ ]:
print(output3)

Now might be a good time to go over the native mathematical operations available to you in Python (we've seen 2 so far).

In [ ]:
addition = 5 + 5
subtraction = 5 - 5
multiplication = 5 * 5
division = 5 / 6        # Be careful of the Python version!
exponentiation = 5**2
modulus = 5 % 3

What did we mean by "Be careful of the Python Version" in the comment above (**note:** you can use comments in lines of code, via the # symbol, to leave descriptions and instructions in your code that aren't seen or run by the interpreter). 

Let's do an experiment:

In [ ]:
print(division)

If you are using **Python version 3.x** (which you should be using!), you will see an accurate answer. On Python version 2.x, you will get 0 even though 5/6 isn't 0 (!). Why so?

This discrepancy is a result of the **datatypes** used in different Python versions. In Python 2.x (as opposed to any version of Python 3), numbers like those we've been using are treated as **integers** - the computer only knows their values to the "one's place", and thus finds 5/6 to be 0.

In Python 3, this issue has been resolved by performing all calculations in **floating point** -- which means including the decimal values.

You can use the following to check what Python version you are using

In [ ]:
from platform import python_version

print(python_version())

The Python Software Foundation (core Python development team) is not officially supporting/improving Python 2. So use Python 3 whenever possible! Do not worry about the **import** statement above. It represents an advanced topic that we will discuss in detail later.

Now, let's see how you can explicitly treat a number as an **integer** or a **floating point**:

In [ ]:
int(division)

In [ ]:
float(int(division))

The above illustrates two points. The first is that you can force any float to be an integer by **typecasting** it using the **int** command. This command rounds what might be a floating point number to an integer. The same goes in reverse.

### Exercise 1: A simple calculation

In the box below, create 8 variables which hold the equatorial radii of the planets in our [Solar System](https://solarsystem.nasa.gov/planets/overview/). Note that we are not including Pluto since it now belongs to a new class: dwarf planets!

You can search the values online and input them here in **km** units. It would be great if they are accurate upto one decimal digit (float values).

In [ ]:
mercury_radius = 2439.7
# Your code here

Set a variable named "radius_average" that is equal to the average of the eight radii. Be careful of order of operations! You can group operations, just like in PEMDAS math, using soft parenthesis "()".

In [ ]:
# Your code here
radius_average =

In [ ]:
print(radius_average)

Note that the radii of giant planets are much larger than that of terrestrial planets. The average (or mean) statistic is sensitive to extremely large (or small values), and hence the average we see here is quite high. In comparison, other statistical measures of central tendency like the median and mode are not affected by extreme values.

Now, the sum of the planet radii is just

In [ ]:
radii_sum = 8 * radius_average

Excluding the Earth, this sum is

In [ ]:
radii_sum_wo_earth = radii_sum - earth_radius

How big is the distance "radii_sum_wo_earth"? Let's compare it to the average distance between the Earth and the Moon, a distance we are more familiar with.

You can search this distance and input it into a variable "earth_moon_dist" in **km** units.

In [ ]:
# Your code here

We can compare the "radii_sum_wo_earth" and "earth_moon_dist" as follows

In [ ]:
radii_sum_wo_earth/earth_moon_dist

Now compare "2\*radii_sum_wo_earth" (sum of 7 planet diameters) and "earth_moon_dist" in the next cell

In [ ]:
# Your code here

The answer will surely **surprise** you! 


If you were to stack all the planets in our solar system (excluding the Earth), they would fit between the Earth and the Moon! Depending on the accuracy of the values you use, there might be some disagreements, but the two values should be very close.

Upon running the following code, you will see a figure that demonstrates this stacking approximately to scale. For the code to work, make sure you download the [pasea-arp GitHub repository](https://github.com/heidiawhite/pasea-arp) and upload it to your Google Drive.

In [ ]:
# Refer to the Google Colab introductory video for more details
from google.colab import drive
drive.mount('/content/drive')

# Do not worry about import statements just yet
from IPython.display import Image
Image('drive/My Drive/pasea-arp/Pre-workshop/planets_stack.jpg')

You can also display the image by running the following markdown cell

![](drive/My Drive/pasea-arp/Pre-workshop/planets_stack.jpg)

## Data Types in Python

So far, we have been working entirely with numbers (integers and floats). You can tell what data type a variable is at any time using the "type()" command:

In [ ]:
x = 5
y = 6.0
print(type(x))
print(type(y))

While, at the very bottom of things, your data will always be numbers like this, Python's power comes in when you start looking at it's other data types, which are primarily set up to contain numbers in an organized way. Here are the basic data types in Python:

 * Integers
 * Floats
 * Booleans (True or False)
 * Lists (collections of items) 
 * Dictionaries (collections accessed via "keys") 
 * Strings (contained in quotes "like this")
 * Tuples (like lists, but immutable (unchangeable)) 
 
In the next few sections, we are going to learn about these data types (skipping integers and floats, which we've mostly covered).

### Booleans

Booleans have a one of two states,"True" or "False". Try setting a variable equal to True or False in the box below - you should see Python "color" the word to indicate syntactically that it is a special word in Python that has a specific meaning.

In [ ]:
true = True
false = False

In [ ]:
true

These come in handy when we are employing **condiditional statements** in which we say "Hey code, if some condition is True, do "X," else if some other condition is True, do "Y". 

We are often using booleans without recognizing it. An example condition is given below

In [ ]:
2*radii_sum_wo_earth < earth_moon_dist

More on this coming up in the workshop.

### Lists

Lists are the most forgiving container in Python. Basically, we can shove whatever we want into a list, be they different data types, or even lists within lists. Of course, the usefulness of non-uniform containers becomes limited - the advantage to storing lots of numbers in a list is that you can then perform operations on them all without worrying that some won't work. 

Here's how we define a list:

In [ ]:
list_1 = ['a string', 5, 6.0, True, [5, 6, 6]]

The list above is kind of a mess - you'd almost never want a list to contain such a variety of things in it, but we wanted to highlight that, in principle, Python doesn't care what you stick inside a list. In addition to manually specifiying what is in a list, we can use some generative functions to make lists for us when they have a regular form:

In [ ]:
count_to_10 = range(1, 11)
print(count_to_10, type(count_to_10))

What we've done above is run the built-in "range()" function, which returns an object of type 'range' that internally contains a sequence of integers. We can convert this internal sequence into a list as follows:

In [ ]:
list_count_to_10 = list(count_to_10)
print(list_count_to_10, type(list_count_to_10))

In **Python 2.x**, the range() function directly returns a list, whereas a different function "xrange()" returns an 'xrange' object and performs similar to what we see above. 

This functionality has changed in **Python 3.x**. The "xrange()" function is renamed to "range()" and the original "range()" function no longer exists. This change was made to reduce memory and resource consumption as well as execution time of the code. The details of this are out of scope for this tutorial, but we are mentioning them here for future reference.

The original Python 2 "range()" returned a list of integers, which was stored in memory all at once, e.g. range(1, 1000) would have stored a list of 1000 integers in memory. This consumes a lot of computational resources and slows down the code. Instead, the Python 3 "range" generates numbers one at a time as you iterate using a **for** loop. We show this as follows:

In [ ]:
for num in count_to_10:
    print(num)

In the **for** loop, you can perform operations on the integers. Over time as you use more loops, you will realize that this takes up less memory and saves time!

Now let's understand the Python 3 "range" function in more detail. The form of the function is range(start, stop[, step]), where "start" is inclusive and "stop" is exclusive. Therefore, the above represents $[1,11)$. 

If we wanted 0-9, we would do

In [ ]:
list(range(10))

using the shortcut that if only 1 argument is used, "start" is assumed to be 0 and "step" is assumed to be 1 (it has to be an integer).

## Exercise 2: skip-count
Generate a list below containing the numbers 2, 4, 6, 8, ... 100 and save it into a variable called "skip_count". Then, below, print it to see you did it right.

In [ ]:
# Your code here

In [ ]:
skip_count

You can directly calculate the sum of these numbers by using the built-in "sum()" function

In [ ]:
sum(skip_count)

We want you to understand what lists are and how they're defined. During the workshop, you will learn how to use Loops and Conditionals to generate customized lists.

#### Indexing
When we want to see what is in a list, we print it. But sometimes we want to "pull out" individual elements of a list and use them in calculations. For that, we need to "slice" or **index** the list for the element we want. Lists are indexed such that the first element is assigned "0" (to remember this, get into the habit of calling it the "0th index"). For example, using the list from above:

In [ ]:
list_1[0]

Basically, we put closed brackets at the end of the variable name and specify which index we want. We can also pull multiple:

In [ ]:
list_1[0:2]

Notice that the 2 is not inclusive (it pulls 0th and 1st). We can also specify a skip:

In [ ]:
list_1[0:5:2]

So what about that list within a list? If we want a specific number from it, we can use double indexing. Also, I'll use this as a spot to show **negative indexing** which lets you count backwards from the end of a list (if that happens to be easier):

In [ ]:
list_1[-1][1]

What we did was pull the -1st element (final element, 2nd to last would be -2, etc), which was the inner list, and then we indexed *that* for it's 1st element. 

**Try it out:** In the cell below, get it to output the "s" in "a string" in the 0th element of the list. (It works the same way).

In [ ]:
# Your code here

### Dictionaries
Dictionaries are like lists, but rather than indexing them by element number as we were doing above, we index them by a special "key" that we assign to each "value". For example:

In [ ]:
# Radii of planets in our Solar System
# https://solarsystem.nasa.gov/planet-compare/
radii = {'Mercury' : 2439.7, 'Venus' : 6051.8,
         'Earth' : 6371.0, 'Mars' : 3389.5,
         'Jupiter' : 69911.0, 'Saturn': 58232.0,
         'Uranus': 25362.0, 'Neptune': 24622.0}
radii['Venus']

Dictionaries are inherently unordered - the order we define things within the dictionary doesn't matter, only that we know the key associated with each value. For some applications, this has advantages over a list. Here, if we were only interested in things like the average and median radius, a list would be fine. But if we needed to know *which* planet has *what* radius throughout my analysis, a list would require me to impose that the order went "Mercury, Venus, Earth,..." and to remember that order when indexing, and if the order in the list changes, keep track of those too.

### Strings

We've already seen strings used - It lets you store things like words (or, later on, filepaths) in your code that otherwise don't have meaning as far as Python is concerned. Strings are the most forgiving data type of all; you can stick literally anything inside. If you have a data file with tons of different types of data in it, Python will often just read in everything as strings and let you work out how to convert the proper things into ints, floats, etc. Strings are iterable - they can be indexed like lists, character by character.

### Tuples

We don't use them to often, so just check out this example and follow along!

In [ ]:
example_list = [1, 2, 5]
example_tuple = (1, 2, 5)
example_list[0] = 2
print(example_list)

So we've successfully defined it as a tuple and list, and changed the 0th entry of the list. But what if we try on the tuple?

In [ ]:
example_tuple[0] = 2

Thus, we get an error. So basically, if you make a list-type item and want to make sure it can never be adjusted in your code, you can make it a tuple. This property of tuples is referred to as immutability.

For more examples of the basic manipulations you can make to these basic data types, check out Chapter 2 of the [textbook](https://prappleizer.github.io/index.html), which lays some of them out!

## Exercise 3: Bringing it together (kind of)

Let's try a single, longer example that (tries to) bring in the things we've seen above. You'll find that workshop covers things like iterating/for loops and conditionals, which drastically increase what you can do with Python. Nevertheless, here's some practice with the basic operations. 

Let's say you have travelled to the past with a high-quality telescope, and are observing the moons of Jupiter for the first time in human history. You find 80 of them! 

You measure several properties of the orbits of these moons around Jupiter. You store these values in a text file called "jupiters_moons.csv".

Now, before you announce your discovery to the world, you decide to calculate the distribution statistics of the moons. You want to use these statistics to understand the astrophysics underlying these moons.

Your first step to this analysis is inputting the data. To do this, I'm going to introduce a new concept: the **Numpy** (numerical python) library. Use the following cell to load or "import" this library.

In [ ]:
import numpy as np

As mentioned before, do not worry about the details of **importing libraries** just yet. We will describe this in detail during the workshop. For now, let's see how to load data using Numpy. 

First, you should open the "jupiters_moons.csv" file in the "pasea-arp/Pre-workshop" folder on your Google Drive (you uploaded the "pasea-arp" GitHub repository to your Drive earlier in this tutorial). Use a regular text editor to get a sense of how the data is stored in the file.

Now, look up the **documentation** for Numpy's loadtxt() function â€” you can do so online (google the function) or by typing help(np.loadtxt) in a cell here in this notebook. Once you've done that, use loadtxt() to read the "jupiters_moons.csv" file into a variable called "moons_data". *Note:* **csv** stands for a comma separated ASCII text file, so you need to tell loadtxt() that the values are separated by ",". The following code does this

In [ ]:
moons_data = np.loadtxt('drive/My Drive/pasea-arp/Pre-workshop/jupiters_moons.csv', delimiter=',')

Running the above should get you an error. This is because the file you are loading contains numbers and strings (e.g. 'Planet'), but np.loadtxt() cannot turn the strings into floats. Make sure to look at the "dtype" option in the documentation, and try setting it to string â€” this will turn all things into strings, but we can extract the numbers easily later.

In [ ]:
# Your code here
# Set the loadtxt() "dtype" option to string

You can also skip reading the first row of the file using the option "skiprows". This row contains names of columns rather than data, so you can ignore it.

In [ ]:
# Your code here

Now print this data

In [ ]:
moons_data

Take a closer look at the printed array. Notice how there are outer brackets surrounding a bunch of bracketed pairs? 

"moons_data" looks like a list of lists. Let's look at its data type

In [ ]:
# Your code here

Thus, you get a Numpy object called "ndarray" (N-dimensional array). You will understand why "ndarrays" are powerful tools in a little bit.

In the cell below, index the array for it's 0th element and see what happens:

In [ ]:
# Your code here

You should see the orbital parameters of the Jupiter moon, "Io". What happens if you index *that* mini-array for it's 6th element? Do that below:

In [ ]:
# Your code here

You should get Io's semi-major axis (a) as a string.

When you looked at the file in a text editor, you must have seen that different columns have different orbital parameters of the 80 moons. The 6th column contains the semi-major axes (a) of the orbits (remember that indexing starts from 0 in Python). You can access this column as follows:

In [ ]:
moons_data[:, 6]

The above tells the array that you want all rows but only the 6th column.

We see that the values are all strings because we loaded everything using the string data type. We can extract the numbers by converting the strings to floats as follows

In [ ]:
major_axes = moons_data[:, 6]
# The following is the numpy equivalent of typecasting
major_axes = major_axes.astype(float)

The above shows one advantage of using "ndarrays" as opposed to lists. For typecasting lists, you have to individually convert each value either manually or by using a for loop; you can try doing this yourself by converting `moons_data[:, 6]` to a list `list(moons_data[:, 6])`.

Using the code in the previous cell, read columns 7 (eccentricities) and 10 (inclination) into variables "eccts" and "incls" respectively and convert the strings to floats

In [ ]:
# Your code here

Now, to perform statistical analysis on this data, the first thing we need to do is calculate the averages. Later on, we'll see that there are external functions you can import into Python that will just do this for you, but for now let's calculate it manually (it's easy enough, right?).

Above, we saw use of the sum() function - as it turns out, you can run the sum() function on a list or an ndarray (so long as it only contains numbers) and it will tell you the sum. There is also a Nympy equivalent of the sum function called "np.sum()", which works faster for ndarrays.

The only other thing you'll need to calculate the average is the len() function, which returns the number of elements in a list/array. Using those two, define variables below called "average_orbit_radius" and "average_ecct", and calculate them.

In [ ]:
# Your code here

Now let's print these quantities in a *fancy* way

In [ ]:
print(f'The average orbital semi-major axis of the moons is {average_major_axis}')
print(f'The average orbital eccentricity of the moons is {average_ecct:.5f}')    # Using ":.5f", you can print 5 digits after the decimal place
print(f'The average orbital inclinations of the moons is {average_incl:.3f}')    # Using ":.3f", you can print 3 digits after the decimal place

Okay, so the other thing statisticians are always interested in is the standard deviation from the mean - this basically tells how dispersed the values in a sample are. The formula for a standard deviation is 
$$ 
s = \sqrt{\frac{\sum_{1}^{N}(x_i - \mu)^2}{N-1}}
$$

where $\mu$ is the average and N is the total number of values.

We already know how to get N, and we know what $\mu$ is as well. So to calculate this, we need to know how to calculate the quantity on the top of the fraction. This is actually kind of tricky without the use of Numpy arrays. See the example below for elucidation:

In [ ]:
print(major_axes - 1)

Okay, so you can subtract an integer from an ndarray. What if we try the list version?

In [ ]:
print(list(major_axes) - 1)

You can't directly subtract an integer from a list. But why is this subtraction important? 

Your spidey senses should be tingling for how we can leverage the subtraction functionality of ndarrays to calculate our standard deviation. In the cell below, fill in the variable "top_frac_major_axis" to calculate the following quantity:
$$
\sum_{i=1}^N (x_i - \mu)^2
$$

Notice here that you don't have to actually calculate it one by one - if we first compute a single array that represents each semi-major axis with the mean subtracted off and then that value squared, then we finish off "top_frac_major_axes" just by summing up that array as we've done before.

In [ ]:
# Your code here

With that done, we can easily apply the formula to get the final STD - **Hint:** the function np.sqrt() will be useful here.

In [ ]:
# Your code here

Alright! If you've done everything correctly, you should have found the averages and standard deviations.

Let's, for fun, make a helpful plot to visualize the data and the calculated statistics. Don't worry about how the plotting stuff works just yet, we'll dive into it more in the next tutorial, but see if you can figure out what each part of the command is doing.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.hist(major_axes, alpha=0.5)
plt.axvline(average_major_axis, color='k', label="Mean")
plt.axvline(average_major_axis + std_major_axis, ls='--', color='k', label="+1 STD")
plt.axvline(average_major_axis - std_major_axis, ls='--', color='k', label="-1 STD")
plt.xlabel('Semi-major axis')
plt.ylabel('Number of moons of Jupiter')
plt.legend()

In [ ]:
plt.hist(eccts, alpha=0.5)
plt.axvline(average_ecct, color='k', label="Mean")
plt.axvline(average_ecct + std_ecct, ls='--', color='k', label="+1 STD")
plt.axvline(average_ecct - std_ecct, ls='--', color='k', label="-1 STD")
plt.xlabel('Eccentricity')
plt.ylabel('Number of moons of Jupiter')
plt.legend()

In [ ]:
plt.hist(incls, alpha=0.5)
plt.axvline(average_incl, color='k', label="Mean")
plt.axvline(average_incl + std_incl, ls='--', color='k', label="+1 STD")
plt.axvline(average_incl - std_incl, ls='--', color='k', label="-1 STD")
plt.xlabel('Inclination')
plt.ylabel('Number of moons of Jupiter')
plt.legend()

Nice! It looks like our formula for standard deviation successfully describes the distribution of orbital semi-major axes, eccentricities, and inclinations pretty well. Now, let's interpret the plots -- why do you see [multi-modalties](https://en.wikipedia.org/wiki/Multimodal_distribution) in the histograms?

It is easy to understand this by visualizing the orbital distribution of the moons around jupiter. We provide the code for this visualization in the next few cells, but understanding it is beyond the scope of this tutorial.

You will need three different libraries: "Matplotlib" for plotting (which you used above) and animation, "mpl_toolkits" for 3D plotting, and "PyAstronomy" for obtaining the orbits. "PyAstronomy" is not directly available in Google Colab (unlike Numpy and Matplotlib), so you will need to install it using:

In [ ]:
!pip install PyAstronomy

Now, load this library along with the others.

In [ ]:
import matplotlib.animation as animation
import mpl_toolkits.mplot3d.axes3d as p3
from PyAstronomy import pyasl

You can vizualize the orbit of the innermost **Galilean moon** of Jupiter, **Io**, using the following code. Io is the fourth-largest moon in our Solar System!

In [ ]:
# The following code is for illustration purposes only!
# Do not worry if you don't understand it.
fig = plt.figure()
ax = p3.Axes3D(fig)

moon_ind = np.where(moons_data[:, 1] == 'Io')
moon = moons_data[moon_ind][0]

# Set the time to one period
t = np.linspace(0, float(moon[12]), 100)

# Create Keplerian elliptical orbits with
# semi-major axis in length units, period in time units,
# eccentricity, longitude of ascending node in degrees,
# and inclination and periapsis argument in degrees.
orbit = pyasl.KeplerEllipse(a=float(moon[6]), per=float(moon[12]),
                            e=float(moon[7]), Omega=float(moon[8]),
                            i=float(moon[10]), w=float(moon[11]))

# Calculate the orbit position at the given points
# in a Cartesian coordinate system.
pos = orbit.xyzPos(t)

# Plot the moon position
red_dot, = ax.plot(pos[::, 1], pos[::, 0], pos[::, 2], 'ro', 
                   label=f'{moon[1]}')


def animate(i, pos, red_dot):
    red_dot.set_data([pos[i][1], pos[i][0]])
    red_dot.set_3d_properties(pos[i][2])
    return red_dot


# Create animation using the animate() function
ani = animation.FuncAnimation(fig, animate, 100, fargs=(pos, red_dot),
                              interval=100, blit=False)

ax.plot([0], [0], [0], 'bo', markersize=16, label="Jupiter")
ax.plot(pos[::, 1], pos[::, 0], pos[::, 2], 'r-')

# Hide grid lines
ax.grid(False)

# Hide axes ticks
ax.set_xticks([])
ax.set_yticks([])
ax.set_zticks([])
plt.style.use('default')
plt.legend()
plt.show()

Wait a minute, we were supposed to get an animated figure! 

Google Colab does not directly show the animation. The trick is to use the following code:

In [ ]:
from IPython.display import HTML
HTML(ani.to_html5_video())

Great, that works! You are now looking at an animation of Io's orbit. The orbit looks circular with low inclination. Let's print its semi-major axis, eccentricity, and inclination.

In [ ]:
print(f'Semi-major axis of {moon[1]} is {float(moon[6])}')
print(f'Eccentricity of {moon[1]} is {float(moon[7])}')
print(f'Inclination axis of {moon[1]} {float(moon[10])}')

Thus, your observations are correct.

Now, let's investigate further and plot the orbits of all 80 moons of Jupiter. The following plots a static image of the orbits instead of an animated one because it's hard to visualize 80 animations together.

In [ ]:
fig = plt.figure(figsize=(30, 30))
ax = plt.axes(projection='3d')

for ind, moon in enumerate(moons_data):
    t = np.linspace(0, float(moon[12]), 100)
    # Create Keplerian elliptical orbits with
    # semi-major axis in length units, period in time units,
    # eccentricity, longitude of ascending node in degrees,
    # and inclination and periapsis argument in degrees.
    orbit = pyasl.KeplerEllipse(a=float(moon[6]), per=float(moon[12]),
                                e=float(moon[7]), Omega=float(moon[8]),
                                i=float(moon[10]), w=float(moon[11]))

    # Calculate the orbit position at the given points
    # in a Cartesian coordinate system.
    pos = orbit.xyzPos(t)

    color=['r', 'b', 'g', 'y']
    if ind < 4:
        # Plot the orbit
        ax.plot3D(pos[::, 1], pos[::, 0], pos[::, 2], color=color[ind], lw=1)
        # Point of periapsis
        ax.plot3D([pos[0, 1]], [pos[0, 0]], [pos[0, 2]], f'{color[ind]}.',
                   markersize=6, label=f'{moon[1]}')
    else:
        ax.plot3D(pos[::, 1], pos[::, 0], pos[::, 2], 'k-', lw=0.25)
        ax.plot3D([pos[0, 1]], [pos[0, 0]], [pos[0, 2]], 'k.',
                   markersize=6)

ax.plot3D([0], [0], [0], 'bo', markersize=8, label='Jupiter')

plt.legend(loc='lower right', fontsize=18)
plt.style.use('default')
# Hide grid lines
ax.grid(False)
# Hide axes ticks
ax.set_xticks([])
ax.set_yticks([])
ax.set_zticks([])
plt.title('Moons of Jupiter', fontsize=20)
plt.show()

The orbits of the Galilean moons are highlighted in the above figure, but it is hard to see their structure. This is because the figure is dominated by the **irregular satellites** (or moons) that have highly eccentric orbits at large distances from Jupiter. The inclinations of these orbits are also generally high and have wide distributions. 

If you scroll back to the semi-major axis, eccentricity, and inclination histograms of all the moons of Jupiter, you will see that the irregular satellites represent the peaks at high values. Thus, this class of moons forms one of the peaks in the multi-modal distributions. The other peaks are formed by the **regular satellites** that include the **inner satellites** and the Galilean moons (or the main group). 

The regular satellites have nearly circular orbits with low inclination (similar to the Io orbit we just plotted). They are larger (in size) and more massive than the irregular satellites and orbit closer to Jupiter. They are all **prograde** moons, i.e., they orbit in the same direction as the rotation of Jupiter.

Let's rerun the above code, but this time only focus on regular satellites (```
moons_data[:8] ```)

In [ ]:
fig = plt.figure(figsize=(30, 30))
ax = plt.axes(projection='3d')

for ind, moon in enumerate(moons_data[:8]):
    t = np.linspace(0, float(moon[12]), 100)
    # Create Keplerian elliptical orbits with
    # semi-major axis in length units, period in time units,
    # eccentricity, longitude of ascending node in degrees,
    # and inclination and periapsis argument in degrees.
    orbit = pyasl.KeplerEllipse(a=float(moon[6]), per=float(moon[12]),
                                e=float(moon[7]), Omega=float(moon[8]),
                                i=float(moon[10]), w=float(moon[11]))

    # Calculate the orbit position at the given points
    # in a Cartesian coordinate system.
    pos = orbit.xyzPos(t)

    color=['r', 'b', 'g', 'y']
    if ind < 4:
        # Plot the orbit
        ax.plot3D(pos[::, 1], pos[::, 0], pos[::, 2], color=color[ind], lw=1)
        # Point of periapsis
        ax.plot3D([pos[0, 1]], [pos[0, 0]], [pos[0, 2]], f'{color[ind]}.',
                   markersize=8, label=f'{moon[1]}')
    else:
        ax.plot3D(pos[::, 1], pos[::, 0], pos[::, 2], 'k-', lw=0.25)
        ax.plot3D([pos[0, 1]], [pos[0, 0]], [pos[0, 2]], 'k.',
                   markersize=8)

ax.plot3D([0], [0], [0], 'bo', markersize=10, label='Jupiter')

plt.legend(loc='lower right', fontsize=18)
plt.style.use('default')
# Hide grid lines
ax.grid(False)
# Hide axes ticks
ax.set_xticks([])
ax.set_yticks([])
ax.set_zticks([])
plt.title('Moons of Jupiter', fontsize=20)
plt.show()

Here you see the regular satellites: the 4 inner satellites and the 4 Galilean moons. Note that the two innermost satellite orbits are almost identical and are thus seen as only one orbit. This figure demonstrates the properties we mentioned above.

The conclusion of your analysis is that there are two main types of Jupiter moons: regular and irregular. Now, you should have your astrophysics researcher hat on:

***

#### Q - Are the differences between the two types of Jupiter moons due to some underlying differences in the formation of these moons?

***

Ans. Here

Hint: Refer to the references in this [wikipedia section](https://en.wikipedia.org/wiki/Moons_of_Jupiter#Origin_and_evolution).

## Wrap up

We hope this super-basic introduction has given you a glimpse at some of the basic functionality of Python. Of course, Python is way more powerful than what has been shown here. We call this _pre-workshop_ because once you know the basic data types, how to define variables, and do some simple math on them, we are going to need to jump into new concepts â€” for loops and conditional statements, as well as invoke new libraries (like numpy and matplotlib) to make further progress. If you're ready to do that, head on over to the workshop!